<!-- <div class="text-layout">
    <h1>{{nombre | titlecase}}</h1>
    <h1>{{valor | number}}</h1>
</div>


<button pButton (click)="mostrarNombre()" 
    label="Cambiar Nombre" 
    icon="pi pi-check" 
    iconPos="right"
    class="p-button-help"></button>

<p-card [header] ="nombre | titlecase" subheader="subeader">
    
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores voluptas vel porro aut dignissimos maiores quis doloribus dolorum fugiat, ullam autem maxime corrupti sequi aperiam voluptates sit libero non! Reiciendis!
</p-card> -->

<app-menu></app-menu>
<router-outlet></router-outlet>